* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #DEFDFB;
    height: 100%;
}

.contenedor{
    background-color: rgb(255, 255, 255);
    max-width: 350px;
    margin: 1rem auto;
    border-radius: 7px;
    height: auto;
}
.contenedor-forma{
    max-width: 320px;
    font-family: 'Roboto', sans-serif;
    padding-top: 1rem;
    height: 100vp;
    margin: auto;
}
.forma{
    height: 100vp;
}
.forma h1{
    
    font-weight: 400;
    // font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.91rem;
    text-shadow: 1px 1px 1px #00433d;
    
}
.forma h2{
    color: rgb(30, 30, 34);
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: .77rem;
    text-shadow: 1px 1px 1px rgb(31, 31, 31);

}
.forma-control{

        box-sizing: border-box;       
        background-color: hsl(0, 0%, 100%);
        display: grid;
        grid-template-columns: 1fr ;
        font-size: 0.60rem;
             
}
.forma-control input{
    font-family: 'Roboto', sans-serif;
    font-size: 0.55rem;
    color: rgb(71, 71, 71);
    padding: 10px 10px;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #0d9488;
    
    

}
label#required::after{
    content:"*";
    color:#ff0909;
    margin-left: 5px;
    font-size: 0.85rem;
 }
 .forma-control input::placeholder{
    color: #0d9488;

 }
.forma-control input:focus::placeholder{
    
    background-color: rgb(251, 255, 255);
    border-color: #0d9488;
    border-width: 0.75px;
}
.forma-control textarea{
    font-family: 'Roboto', sans-serif;
    font-size: 0.50rem;
    color: rgb(3, 3, 3);
    padding: 10px 10px;
    border-radius: 3px;
    border-width: 0.5px;
    border-color: #0d9488;
    resize:both;

}
.forma-control textarea::placeholder{
    color: #0d9488;
}
.forma-control label {
    text-shadow: 1px 1px 1px rgb#0d9488;
    color: black;
}
.forma-control button{
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 252, 252);
    padding: 10px 10px;
    font-size: 0.75rem ;
    background-color: #0d9488;
    border: none;
    border-radius: 7px;
}

label#info{
    margin-bottom: 15px;
}
label#info::before{
    content:"*";
    color:#ff0909;
    margin-right: 3px;
    font-size: 0.85rem;
}