<div class="grid grid-cols-3 gap-0 h-screen w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] text-black">

<div class="grid grid-cols-1 gap-0 h-screen w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] text-black">
    
    <div class=" h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] ">
        <h1 class=" pt-[30px] text-[18px] justify-center text-center tracking-wide text-gray-600 drop-shadow-md"> <i class="bi bi-person-check text-[30px] pr-1 text-yellow-700"></i>ABOUT ME</h1>
        <p class=" first-letter:text-7xl first-letter:font-[-apple-system] first-letter:text-yellow-700 first-letter:font-extrabold first-letter:float-left first-line:tracking-wider text-[18px] justify-center text-justify px-1 tracking-wide text-gray-500"> Front end developer with solid knowledge in object-oriented and functional programming, focused on single page applications following the SOLID 
            and DRY programming principles, good communication skills and teamwork as such as great individuals skills in agile environments. <br> I'm passionate about programming
             and new technologies, be able to generate significant changes around me that creates value and innovate. 

        </p>
    </div>
    <div class=" h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] " > 
        <h1 class="text-[18px] justify-center text-center tracking-wide text-gray-600 drop-shadow-md"><i class="bi bi-briefcase text-[30px] text-orange-300 pr-1"></i>EXPERIENCE</h1>
        <ul class="text-[18px] px-[10px] justify-items-start text-justify tracking-wide text-gray-500">
           <li><i class="bi bi-braces text-[18px] text-red-800"></i> Web SPA's development in JavaScript with React and Angular frameworks.</li>
           <li><i class="bi bi-phone text-[18px] text-red-800"></i> Developed code using SOLID DRY principles.</li>
           <li><i class="bi bi-hdd-rack text-red-800 text-[18px]"></i> Design and Mockup on HTML5, SCSS using Tailwind and Bootstrap following mobile first design pattern according 
                 to client's needs and specs.</li>
           <li><i class="bi bi-database-up text-red-800 text-[18px]"></i> Consume API's REST.</li>
        </ul>
    </div>
    <div class=" h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] ">
        <h1 class="text-[18px] justify-center text-center tracking-wide text-gray-600 drop-shadow-md"><i class="bi bi-translate text-[30px] text-teal-600 pr-1"></i>LANGUAGES</h1>
        <p class="text-[18px] justify-center text-center tracking-wide text-gray-500">Spanish - Native</p>
        <p class="text-[18px] justify-center text-center tracking-wide text-gray-500">English - Proficiency</p>
        <p class="text-[18px] justify-center text-center tracking-wide text-gray-500">German - Basic Level</p>
    </div>

</div>
<div class="grid grid-cols-1 gap-0 h-screen w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] text-black">
    <div class="h-[100%] w-[100%] bg-[#DEFDFB] content-center items-center justify-items-center" >
        <h1 class="flex pt-[20%] justify-center justify-items-center items-center text-center text-gray-500">JOSEBA ITURREGUI's CV</h1>
        <img  class=" flex mx-[30%] justify-center justify-items-center text-center items-center" src="../../../assets/img/foto perfil.png" alt="profilePic">

    </div>
    <div class="flex flex-col justify-center text-center  h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB]">
        <i class="bi bi-arrow-up text-[50px] float-up text-red-800"></i><span class="text-[25px] text-red-800 group hover:text-red-800">PROFILE</span><i class="bi bi-images text-[80px] text-red-800 hover:text-red-800"></i><br>
        <span class="text-[25px] text-yellow-700"><i class="bi bi-arrow-up-left text-[50px] mt-[-105px] text-yellow-700 float-left"></i>ABOUT ME/CONTACT<i class="bi bi-arrow-up-right text-[50px] mt-[-105px] text-yellow-700 float-right"></i></span><br><i class="bi bi-phone text-[80px] text-yellow-700"></i><br>
        <span class="text-[25px] text-orange-300">EXPERIENCE/<span class="text-orange-700">EDUCATION</span></span><br><i class="bi bi-briefcase text-[60px] text-orange-300"><i class="bi bi-book text-[60px] pl-[1rem] text-orange-700 pr-1"></i><span class="float-left mt-[-100px]"><i class="bi bi-arrow-up-left text-[50px] text-orange-300"></i></span><i class="bi bi-arrow-up-right text-[50px] float-right text-orange-700 mt-[-100px]"></i></i><br>
        <span class="text-[25px] text-teal-600">LANGUAGE / CODING SKILLS</span><br><i class="bi bi-braces text-[80px] pl-[1rem] text-teal-600"><i class="bi bi-arrow-left text-[50px] float-left mt-[45px] text-teal-600"></i><i class="bi bi-arrow-up-right text-[50px] float-right mt-[45px] text-teal-600"></i></i>
       

    </div>
    <div class="border-[1px] border-black h-[100%] w-[100%] bg-gray-700 ">3</div>

</div>
<div class="grid grid-cols-1 gap-0 h-screen w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] text-black">
    <div class=" pl-3 pt-[30px] h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] " > <i class=" bi bi-telephone text-[30px] text-blue-600"></i><span class=" pl-[10px] text-[20px] text-gray-500"> Phone : 658 232 881</span><br><br>
        <i class="bi bi-envelope-at text-[30px] text-red-800"></i><span class=" pl-[10px] text-[20px] text-gray-500"> email : josebaiturregui@gmail.com</span><br><br>
        <i class="bi bi-linkedin text-[30px] text-blue-700"></i><span class=" pl-[10px] text-[20px] text-gray-500"> linkedIn/josebaIturregui</span><br><br>
        <i class="bi bi-github text-[30px]"></i><span class=" pl-[10px] text-[20px] text-gray-500"> Github/josebaiturregui</span><br><br></div>
    <div class="pl-3 pt-[30px] grid-cols-2 flex-col-2  h-[100%] w-[100%]">
        <h1 class="text-[18px] justify-center text-center tracking-wide text-gray-600 drop-shadow-md"><i class="bi bi-book text-[30px] pl-[1rem] text-orange-700 pr-1"></i>EDUCATION</h1>
        <ul class="text-[18px] px-[10px] justify-items-start text-justify tracking-wide text-gray-500">
           <li><i class="bi bi-hospital-fill text-[18px] text-orange-700"></i> Bachelor's degree: Mechanical Engineer - U.D.O / Venezuela.</li>
           <li><i class="bi bi-code-slash text-[18px] text-orange-700"></i> FullStack Web Development - EIP - U.E.M.C / Spain  </li>
           <li><i class="bi bi-cloud text-orange-700 text-[18px]"></i> DataScience : Full Course - UDEMY</li>
           
        </ul>
    </div>
    <div class=" h-[100%] w-[100%] bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] ">
        <h1 class="text-[18px] justify-center text-center tracking-wide text-gray-600 drop-shadow-md"><i class="bi bi-braces text-[30px] pl-[1rem] text-teal-600 pr-1"></i>CODING SKILLS</h1>
        <ul class="text-[18px] px-[10px] justify-items-start text-justify tracking-wide text-gray-500">
           <li><i class="bi bi-bootstrap text-[18px] text-teal-600"></i> JavaScript - TypeScript - Python // frameworks: Angular - React.</li>
           <li><i class="bi bi-code-slash text-[18px] text-teal-600"></i> Html5 - CSS3 - Tailwind - Bootstrap</li>
           <li><i class="bi bi-cloud text-teal-600 text-[18px]"></i> Version Control GitHub </li>
           <li><i class="bi bi-hash text-teal-600 text-[18px]"></i> DDBB: MongoDB - MariaDB - MySQL.</li>
        </ul>
    </div>

</div>


</div>
