<mat-toolbar class="bg-gradient-to-t from-[#DEFDFB] via-[#DEFDFB] to-[#DEFDFB] border-b-[1px] border-teal-600 flex justify-items-center z-5">
    <mat-toolbar-row class="flex flex-row justify-evenly">
      <p class="text-[40px] bg-gradient-to-r from-gray-500 to-teal-600 bg-clip-text text-transparent hover:text-gray-900 font-[-apple-system]"><img class="border-[1px] border-teal-600 h-[120px] mt-[10px] w-[120px] rounded-[50%]" src="../../../assets/img/Joseba IT.png"></p>
      <button mat-button class=" px-[16px] absolute right-2 bg-gradient-to-r from-gray-600 to-teal-600 bg-clip-text text-transparent group hover:text-gray-900 bold" (click)="opened=!opened"><mat-icon class="text-[30px] group-hover:scale-[1.05]">menu</mat-icon></button>
      <button mat-button *ngFor="let item of itemsMenu" class="inline-block py-1 p-x3 text-center bg-gradient-to-r from-gray-600 to-teal-600 bg-clip-text text-transparent text-outline font-semibold group hover:text-black bold  items-center font-[-apple-system]" routerLink="{{item.routerLink}}">
        <span> <i class="{{item.icon}} text-[25px] px-1 mx-1 border-r-2 border-teal-600 bg-gradient-to-r from-gray-600 to-teal-600 bg-clip-text text-transparent font-semibold group-hover:text-red-800 bold"></i> </span> {{item.titulo}}</button> 
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav  [(opened)]="opened" mode="over"
    class=" w-[15%] flex flex-1 bg-gradient-to-t from-gray-200 via-teal-100 to-[#DEFDFB] font-semibold  justify-start">
      <mat-list>
        <mat-list-item *ngFor="let item of itemsMenu" class="flex  justify-end">
            <a href="{{item.routerLink}} " class="py-2 bg-gradient-to-r from-gray-600 to-teal-600 bg-clip-text text-transparent flex flex-1 cursor-pointer items-center justify-items-start text-center font-[-apple-system] text-gray-700 font hover:shadow-md"
          ><i class="{{item.icon}} text-[25px] px-1 mx-1 border-r-2 border-teal-600 font-semibold justify-evenly"></i> {{item.titulo}} </a>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>
